<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crypto Trading Algo</title>
  <link rel="stylesheet" href="style.css" type="text/html">
  <style>
    h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    }
    .ETH-trades{
         display: flex;
         width: 85%;
         flex-wrap: wrap;
        justify-content: space-between;
        }
  </style>
</head>
<body>
 <h1>ETH Trades</h1>
  <ul class="ETH-trades">
      <% for(var i=ETHtrades.length - 1; i>=0; i--){%>
        <li class="ETH-trades">
            <% if(ETHtrades[i].price != undefined){%>
          <div class="ETH-trades-data">Datetime: <%= ETHtrades[i].time %> </div>
          <div class="ETH-trades-data">Price: <%= ETHtrades[i].price %></div>
          <div class="ETH-trades-data">Size: $<%= ETHtrades[i].size %></div>
          <div class="ETH-trades-data">Side: <%= ETHtrades[i].side %></div>
          <%}%>
        </li>
      <%}%>
    </ul>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</html>